.App {
  text-align: center;
  background-image: url(../assets/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  min-width: 100vw;
}

.row {
  justify-content: center;
  margin: 15px 0;
}
.main-card {
  background-color: rgb(125, 223, 236);
  border-radius: 15px;
  border-color: azure;
  box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}
.main-title {
  color: white;
  font-style: bold;
}
.main-btn {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border-color: black;
}
.input-fields {
  font-style: bold;
  border-radius: 15px;
}
